body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-size: cover;
    overflow-x: hidden;
    overflow-y: auto;
}

.navbar {
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: white;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 65px;
    border-bottom-right-radius: 65px;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    width: 15%;
    display: flex;
    justify-content: end;
    font-size: 2rem;
}

.menu a {
    text-decoration: none;
    color: black;
}

.menu #menu {
    margin: 0 1rem;
}

.login {
    width: 15%;
}

section {
    margin: 0;
    padding: 0;
    width: 100vw;
    min-height: 100vh;
    box-sizing: border-box;
}

.section1 {
    width: 100%;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to right,
            rgba(0, 0, 0, 1) 0%,
            rgba(51, 51, 51, 0) 51%,
            rgba(0, 0, 0, 1) 100%);
}

.hero-content {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 40px;
    width: 25vh;
    padding-left: 10vh;
    align-items: flex-start;
    color: white;
    padding-bottom: 10vh;
}

.hero-content .title {
    font-size: 1.5rem;
}

.hero-content .isi {
    padding-left: 1vh;
}

.hero-content-button {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 40px;
    width: 40vh;
    height: 8vh;
    border-radius: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 15vh;
    margin-top: 20vh;
    color: black;
}

.hero-content-button p {
    text-align: center;
    font-size: 1.6rem;
}

/* section tulisan start*/

.section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 200vh;
}

.text {
    width: 100vh;
    text-align: center;
}

.top {
    font-size: 2rem;
}

.bottom a {
    text-decoration: none;
    color: black;
    font-size: 1.3rem;
}

.bottom #menu {
    margin: 0 1rem;
}

/* section tulisan end */

/* section trending start */
.trending {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 3vh;
    width: 100%;
    flex-direction: column;
}

.title {
    text-align: center;
    font-size: 2rem;
}

.trending-content {
    padding-bottom: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.trending1,
.trending2,
.trending3 {
    margin: 0 2rem;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
    background-color: white;
}

.trending1 {
    width: 50vh;
    height: 60vh;
}

.trending2 {
    width: 40vh;
    height: 50vh;
}

.trending3 {
    width: 40vh;
    height: 50vh;
}

/* section trending end */

/* section3 start */

.section3 {
    width: 100%;
    height: 60vh;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    position: relative;
    background: url(https://www.discoverhongkong.com/content/dam/dhk/intl/explore/arts-entertainment/artsinhk/2025/gallery_art-basel.jpg) no-repeat center center fixed;
    background-size: cover;
    overflow: hidden;
}

.section3::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.section3 > * {
    position: relative;
    z-index: 2;
}

/* section3 end */

/* calendar start */
.calendar {
    width: 100%;
    height: 100vh;
    background-color: gray;
}
/* calendar end */

/* cta start */
.cta {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5vw;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
.cta-title {
    font-size: 2rem;
}

.cta-text {
    font-size: 1rem;
    padding-left: 2vw;
    width: 30vw;
    text-align: start;
}

.cta-text p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.cta-button {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
}

.cta-1, .cta-2{
    margin-right: 2rem;
    padding: 1rem 1.5rem;
    border-radius: 25px;
    box-shadow: 0px 4px 4px rgba(0, 4, 4, 0.25);
}

.cta-1 a , .cta-2 a{
    text-decoration: none;
    font-size: 1rem;
    color: black;
}

/* cta end */

/* footer start */
.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #1e1e1e;
    color: white;
    height: 50vh;
}

.footer1 {
    display: flex;
    flex-direction: column;
}
.footer2 {
    display: flex;
    flex-direction: column;
}

.footer p {
    margin-bottom: 0;
}

.footer a {
    text-decoration: none;
    margin-top: 5px;
    color: white;
}
/* footer end */