.main {
    display: flex;
    flex: 1; /* biar bagian ini mengisi sisa ruang vertikal */
}

.header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 10vh;
    margin-top: 20vh;
    padding-left: 5vw;
}

.header a {
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    font-weight: 600;
}

.wrapper {
    width: 100vw;
    height: auto;
}

/* category */

.category {
    display: flex;
    padding-left: 5vw;
    flex-direction: column;
    /* flex-wrap: wrap; */
    width: 20vw;
}

.category ul li:not(.judul) {
    margin-left: 3vw;
}

.category ul {
    padding: 0;
    margin: 0;
}

.category .judul {
    list-style: none;
    margin-top: 1.5rem;

}

.category li a {
    text-decoration: none;
    color: black;
    
}

.category p {
    margin: 0;
    font-size: 1.2rem;
    font-weight: 600;
}

/* wrapper */

/* content */
.content {
    flex: 1; /* mengisi sisa ruang dari .main */
    background-color: #ffffff;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  border-radius: 25px;
  padding: 0.8rem 2.5rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  font-size: 1rem;
}

.button.active {
  background-color: #1D2A34;
  color: white;
}

.button i {
  pointer-events: none;
}


.content .menu-content i {
    padding-left: 1rem;
}

.menu-content a {
    text-decoration: none;
    color: black;
}

.menu-content li {
    list-style: none;
    display: inline-block;
    margin: 0 1rem;
}